TestWCFService/Connected Services/SVCPersonInfo/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetHttpBinding_IWebSocketsServer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFService" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonInfo_PostPersonInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:PostPersonInfo" />
  </wsdl:message>
  <wsdl:message name="IPersonInfo_PostPersonInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostPersonInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonInfo_GetPersonInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonInfo" />
  </wsdl:message>
  <wsdl:message name="IPersonInfo_GetPersonInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonInfo_postMostStr_InputMessage">
    <wsdl:part name="parameters" element="tns:postMostStr" />
  </wsdl:message>
  <wsdl:message name="IPersonInfo_postMostStr_OutputMessage">
    <wsdl:part name="parameters" element="tns:postMostStrResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonInfo_DownLoadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownLoadFile" />
  </wsdl:message>
  <wsdl:message name="IPersonInfo_DownLoadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownLoadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonInfo_postText_InputMessage">
    <wsdl:part name="parameters" element="tns:postText" />
  </wsdl:message>
  <wsdl:message name="IPersonInfo_postText_OutputMessage">
    <wsdl:part name="parameters" element="tns:postTextResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonInfo">
    <wsdl:operation name="PostPersonInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonInfo/PostPersonInfo" message="tns:IPersonInfo_PostPersonInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonInfo/PostPersonInfoResponse" message="tns:IPersonInfo_PostPersonInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonInfo/GetPersonInfo" message="tns:IPersonInfo_GetPersonInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonInfo/GetPersonInfoResponse" message="tns:IPersonInfo_GetPersonInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="postMostStr">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonInfo/postMostStr" message="tns:IPersonInfo_postMostStr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonInfo/postMostStrResponse" message="tns:IPersonInfo_postMostStr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownLoadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonInfo/DownLoadFile" message="tns:IPersonInfo_DownLoadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonInfo/DownLoadFileResponse" message="tns:IPersonInfo_DownLoadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="postText">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonInfo/postText" message="tns:IPersonInfo_postText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonInfo/postTextResponse" message="tns:IPersonInfo_postText_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IWebSocketsServer" />
  <wsdl:binding name="CustomBinding_IWebSocketsServer" type="tns:IWebSocketsServer">
    <soap12:binding transport="http://schemas.microsoft.com/soap/websocket" />
  </wsdl:binding>
  <wsdl:binding name="NetHttpBinding_IWebSocketsServer" type="tns:IWebSocketsServer">
    <wsp:PolicyReference URI="#NetHttpBinding_IWebSocketsServer_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/websocket" />
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="CustomBinding_IWebSocketsServer" binding="tns:CustomBinding_IWebSocketsServer">
      <soap12:address location="ws://100.10.1.91:8733/custom" />
    </wsdl:port>
    <wsdl:port name="NetHttpBinding_IWebSocketsServer" binding="tns:NetHttpBinding_IWebSocketsServer">
      <soap12:address location="ws://100.10.1.91:8733/netHttp" />
      <wsa10:EndpointReference>
        <wsa10:Address>ws://100.10.1.91:8733/netHttp</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>